*{
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}
.menu-header{
    width: 100%;
    height: 5rem;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: Center;
    justify-content: space-between;
    font-size: 1.3rem;
    background-color: blue;
    overflow: hidden;
}
.menu-list{
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
}
.menu-list div{
    padding: 0rem 1rem;
    margin: 0rem 0.2rem;
    border-bottom: 0.2rem solid white;
}
.menu-list div:hover{
    border-bottom: 0.2rem solid black;
    color: white;
}
.logo-section{
    position: relative;
    left: 0;
    padding: 0rem 2rem;
}
.cv-div{
    padding: 0rem 2rem;
    margin-right: 0.2rem ;
    width: fit-content;
    height: 2.5rem;
    font-weight: bolder;
    background-color: black;
    border-radius: 1rem;
    border: 0.2rem solid white;
    color: white;
    transition: all 0.3s;
}
.cv-div:hover{
    background-color: white;
    border: none;
    color: blue;
    box-shadow: 0.01rem 0.01rem 0.1rem 0.1rem blue;
}

/*For the intro section*/
.intro-section{
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(0,0,255,1),rgba(0,0,255,0.8));
    width: 100%;
    height: auto;
    justify-content: space-between;
    transition: all 0.5s;
}
.right-section{
    padding-top: 20rem;
    width: 28rem;
    height: 50vh;
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    padding: 1rem 2rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
    transition: all 0.5s;
}
.right-section h2{
    color: grey;
    font-weight: bold;
    font-size: 1.5rem;
}
.right-section h1{
    line-height: 2rem;
    color: purple;
    transition: all 0.5s;
}
.title-section{
    width: 100%;
}
.title-section h1 span{
    background-color: blue;
    color: blue;
    font-weight: bold;
    font-size: 2rem;
    margin-left: -50rem;
    transition: all 1s;
}
.title-section h1 span.activated{
    background-color: transparent;
    color: white;
    margin-left: 0;
}
.right-section .about-section{
    font-weight: bold;
}
.right-section button{
    width: fit-content;
    height: 2.5rem;
    padding: 0rem 2rem;
    font-weight: bolder;
    background-color: transparent;
    border-radius: 1rem;
    border: 0.2rem solid white;
    transition: all 0.3s;
    color: white;
}
.right-section button:hover{
    background-color: white;
    border: none;
    color: blue;
    box-shadow: 0.01rem 0.01rem 0.1rem 0.1rem blue;
}
/*left-section*/
.left-section{
    position: relative;
    width: fit-content;
    height: auto;
    border: none;
    margin: 2rem 2rem;
    display: flex;
    justify-content: end;
    right: 0rem;
    flex: 1 1 content;
    /*background-image: linear-gradient(rgba(0,0,255),rgba(0,0,255));*/
}
.left-section .cover-div{
    position: absolute;
    top: 0;
    width: 30rem;
    height: 100%;
    z-index: 10;
    background-image: linear-gradient(rgba(0,0,255,0.2),rgba(0,0,255,0.2));
}
.left-section .image-section{
    position: relative;
    width: 30rem;
    height: auto;
}
.left-section img{
    /*cover for scaling the image well*/
    object-fit: cover;
    width: 100%;
    height: auto;
}